body {
  background-color: #ddd;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  height: 100vh;
}

/* Game Title */
h1 {
  background-color: #b843de;
  color: rgb(255 184 75);
  font-size: 70px;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  margin: auto;
  padding: 20px;
}

/* Link to other game */
.other-game-link {
  background-color: #8816ad;
  border-radius: 0px 0px 10px 10px;
  color: #f2ccfe;
  font-size: 12px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 5%;
  z-index: 99;
}

/* Contains scores */
.header {
  background-color: #8816ad;
  box-shadow: 0px 8px 20px rgba(0,0,0,.3);
  display: flex;
  justify-content: space-around;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.score-holder {
  color: #84ff46;
}
.high-score-holder {
  color: rgb(255, 247, 0);
}


/* Reset Game Block */
.reset-game {
  background-color: rgba(11, 199, 147, 0.9);
  height: 200px;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  display: flex;
  bottom: -210px;
  width: 100%;
  text-align: center;
  transition: all .25s cubic-bezier(0.56, 0.01, 0, 0.98) .5s;
}

.reset-game h2 {
  color: #fff;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reset-game button {
  background-color: #0647de;
  box-shadow: 0px 8px 20px rgba(2, 0, 41,.3);
  color: #fff;
  font-size: 20px;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  outline: none;
  transition: all .15s cubic-bezier(0.56, 0.01, 0, 0.98);
}
.reset-game button:hover {
  background-color: #073bb5;
  cursor: pointer;
  padding: 10px 30px 10px 30px;
  transform: translateY(-3px);
}

/* Mask that Blocks Game during setTimeout */
#mask {
  background-color: rgba(0,0,0,0);
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* Game Area */
#game {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1100px;
  justify-content: space-around;
}

#game div {
    border-radius: 20px;
}

/* Correct and Incorrect Indicators */
.match-shadow {
  box-shadow: 0px 0px 5px 5px  #00ec54;
  transition: all .15s cubic-bezier(0.56, 0.01, 0, 0.98) .7s;
}

.no-match-shadow  {
  box-shadow: 0px 0px 5px 5px  rgb(255, 32, 32);
  transition: all .15s cubic-bezier(0.56, 0.01, 0, 0.98) .7s;
}

/* The flip card container */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 180px;
  margin: 25px;
  perspective: 1000px; 
}

.flip-card:hover {
    cursor: pointer;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s cubic-bezier(0.56, 0.01, 0, 0.98);
  transform-style: preserve-3d;
}

/* Class for horizontal flip during click event */
.flip-card-over .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
  overflow: hidden;
  box-shadow: 0px 0px 30px rgba(0,0,0,.3);
}

/* Style the front side */
.flip-card-front {
  background-color: #efefef;
  box-shadow: 0px 0px 0px 5px #ccc inset;
  color: black;
  font-family: 'Bungee Shade', cursive;
  transition: all .2s cubic-bezier(0.49, 0, 0.26, 0.99);
}

.flip-card-front:hover {
  box-shadow: 0px 0px 0px 10px #8816ad inset;
}

.flip-card-front::after {
  content: "COLOR";
  color:#99a0b1;
  font-size: 40px;
  position: relative;
  top: 50px;
  transition: all .2s cubic-bezier(0.49, 0, 0.26, 0.99);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
}
.flip-card-front:hover:after {
  color: #8816ad;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}


.image {
  width: 250px;
}